<br>
Catagory ${forms}
<br><br>

<div class="fields">
  <div class="field">
    <label>Category 1</label>
    <select class="ui search dropdown" name="category${forms}.1">
      <option value="A1">category1.1.A1</option>
      <option value="AF">category1.1.A2</option>
    </select>
  </div>
  <div class="field">
    <label>Category 2</label>
    <select class="ui search dropdown" name="category${forms}.2">
      <option value="1">1.category1.2.A1</option>
      <option value="2">2.category1.2.A2</option>
      <option value="3">3.category1.2.A3</option>
      <option value="4">4.category1.2.A4</option>
    </select>
  </div>
  <div class="field" id="category3">
    <label>Category 3</label>
    <select class="ui search dropdown" name="category${forms}.3">
      <option value="1">1.category1.3.A1</option>
      <option value="2">2.category1.3.A2</option>
      <option value="3">3.category1.3.A3</option>
      <option value="4">4.category1.3.A4</option>
    </select>
  </div>
</div>

<div class="field">
  <input type="text" placeholder="design_name" name="design_name${forms}">
</div>

<select name="skills${forms}" multiple="" class="ui fluid dropdown">
  <option value="1">design_name1.A1</option>
  <option value="2">design_name1.A2</option>
  <option value="3">design_name1.A3</option>
  <option value="4">design_name1.A4</option>

</select>
<br>