  <div class="ui visible sidebar inverted vertical menu">
    <br><br>
    <a class="item">
      공지사항
    </a>
    <hr>
    <a class="item">
      2
    </a>
    <a class="item">
      3
    </a>
  </div>
  <div class="pusher">
    <!-- Site content !-->
  </div>