{{!< main}}
<h1>    
  Hi     
  {{#if session}}
  {{session.data.authenticated.username}}
  {{/if}}
  </h1>
<form action="/auth/logout" method="DELETE">
  <button type="submit">Log Out</button>
</form>