{{!< main}}
<h1>
  {{!-- Hi {{session.user.dataValues.username}} --}}
  Hi {{user.username}}
</h1>
<form action="/auth/logout" method="DELETE">
  <button class="ui button" type="submit">로그아웃</button>
</form>

<br><br>


<div class="ui button">button</div>
<br>
<br>
<div class="ui primary button">primary button</div>
<br>
<br>
<div class="ui secondary button">secondary button</div>
<br>
<br>
<div class="ui positive button">positive button</div>
<br>
<br>
<div class="ui negative button">negative button</div>
<br><br>
<div class="ui buttons">
<button class="ui button">One</button>
<button class="ui button">Two</button>
<button class="ui button">Three</button>
</div>
<br><br>
<button class="ui icon button">
<i class="cloud icon"></i>

</button>
