<h1>Login</h1>
{{#each errors}}
<div class="error">
  <p>{{text}}</p>
</div>
{{/each}}
<form action="/auth/login" method="POST">
  <table style="width: 100%;">
    <tr>
      <td> Username </td>
      <td> <input type="text" id="username" name="username" required> </td>
    </tr>
    <tr>
      <td> Password </td>
      <td> <input type="password" id="password" name="password" required> </td>
    </tr>
        <button style="width: 200%;" type="submit">Login</button>
  </table>
</form>
<a href="/auth/register">Register</a>