{{!< auth}}
<div class="center">
<h1>Login</h1>
</div>
{{#each errors}}
<div class="error">
  <p>{{text}}</p>
</div>
{{/each}}
<form action="/auth/login" method="POST">
  <table>
    <tr>
      <td> Username </td>
      <td> <input type="text" id="username" name="username" required> </td>
    </tr>
    <tr>
      <td> Password </td>
      <td> <input type="password" id="password" name="password" required> </td>
    </tr>
  </table>
  <br>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
<br>


<a href="/auth/register">
  <button class="ui blue button" type="submit" name="action">REGISTER
    <i class="material-icons right">check</i>
  </button></a>

<style>
  tr td:first-child {
    width: 12%;
  }

  button {
    width: 100%;
    height: 10%;
  }
</style>