{{!< main}}



<form class="ui form" method="POST" action="/notice/add">
  <div class="field">
    <label>Title</label>
    <input type="text" name="first-name" placeholder="Title">
  </div>
  <div class="field">
    <div id="editorjs" type="text" name="last-name" placeholder="Last Name" style="border: 1px solid red;"> </div>
  </div>

  <button class="ui button" type="submit">Submit</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/raw"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@2.0.0"></script>
<script>

  $(document).ready(function () {
    const editor = new EditorJS({
      autofocus: true,
      tools: {
        raw: RawTool,
        image: {
          class: SimpleImage,
          inlineToolbar: true,
          config: {
            placeholder: 'Paste image URL'
          }
        },
        linkTool: {
          class: LinkTool,
          config: {
            endpoint: 'http://localhost:8008/fetchUrl', // Your backend endpoint for url data fetching
          }
        },
      });
  });


</script>