{{!< main}}



<form class="ui form" method="POST" action="/notice/add">
  <div class="field">
    <label>Title</label>
    <input type="text" name="first-name" placeholder="Title">
    <br>
    <br>
    <label>Text</label>
    <textarea id="editor"placeholder="Text">
    </div>
  </textarea>
  </div>


  <br><br>
  <button class="ui button" type="submit">Submit</button>
</form>


<style>

</style>