{{!< main}}
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    디자이너 시급 가이드
    <br>
    2020-09-09 
  </div>
  <div class="content">
    <p class="transition hidden">
    <div class="panel-body_notice">
      <hr id="collapse_hr">
      <p class="notice_posts korean">
      </p>
      <p style="text-align: center;"><span style="font-weight: 400;">※디자이너 시급 가이드라인</span></p>
      <table style="width: 738px; margin-left: auto; margin-right: auto;">
        <tbody>
          <tr>
            <td style="width: 75px;">
              <p><span style="font-weight: 400;">구분</span></p>
            </td>
            <td style="width: 96px;">
              <p><span style="font-weight: 400;">보조</span></p>
            </td>
            <td style="width: 98px;">
              <p><span style="font-weight: 400;">초급</span></p>
            </td>
            <td style="width: 102px;">
              <p><span style="font-weight: 400;">중급</span></p>
            </td>
            <td style="width: 109px;">
              <p><span style="font-weight: 400;">고급</span></p>
            </td>
            <td style="width: 107px;">
              <p><span style="font-weight: 400;">특급</span></p>
            </td>
            <td style="width: 105px;">
              <p><span style="font-weight: 400;">총괄</span></p>
            </td>
          </tr>
          <tr>
            <td style="width: 75px;">
              <p><span style="font-weight: 400;">실무경력</span></p>
            </td>
            <td style="width: 96px;">
              <p><span style="font-weight: 400;">1~4년&nbsp;</span></p>
              <p><span style="font-weight: 400;">미만</span></p>
            </td>
            <td style="width: 98px;">
              <p><span style="font-weight: 400;">4~8년</span></p>
              <p><span style="font-weight: 400;">미만</span></p>
            </td>
            <td style="width: 102px;">
              <p><span style="font-weight: 400;">8~12년 미만</span></p>
            </td>
            <td style="width: 109px;">
              <p><span style="font-weight: 400;">12~16년 미만</span></p>
            </td>
            <td style="width: 107px;">
              <p><span style="font-weight: 400;">16~20년 미만</span></p>
            </td>
            <td style="width: 105px;">
              <p><span style="font-weight: 400;">20년 이상</span></p>
            </td>
          </tr>
          <tr>
            <td style="width: 75px;">
              <p><span style="font-weight: 400;">제품</span></p>
            </td>
            <td style="width: 96px;">
              <p><span style="font-weight: 400;">14,498</span></p>
            </td>
            <td style="width: 98px;">
              <p><span style="font-weight: 400;">19,337</span></p>
            </td>
            <td style="width: 102px;">
              <p><span style="font-weight: 400;">24,046</span></p>
            </td>
            <td style="width: 109px;">
              <p><span style="font-weight: 400;">27,017</span></p>
            </td>
            <td style="width: 107px;">
              <p><span style="font-weight: 400;">30,805</span></p>
            </td>
            <td style="width: 105px;">
              <p><span style="font-weight: 400;">33,367</span></p>
            </td>
          </tr>
          <tr>
            <td style="width: 75px;">
              <p><span style="font-weight: 400;">시각</span></p>
            </td>
            <td style="width: 96px;">
              <p><span style="font-weight: 400;">14,149</span></p>
            </td>
            <td style="width: 98px;">
              <p><span style="font-weight: 400;">17,480</span></p>
            </td>
            <td style="width: 102px;">
              <p><span style="font-weight: 400;">21,940</span></p>
            </td>
            <td style="width: 109px;">
              <p><span style="font-weight: 400;">24,657</span></p>
            </td>
            <td style="width: 107px;">
              <p><span style="font-weight: 400;">28,298</span></p>
            </td>
            <td style="width: 105px;">
              <p><span style="font-weight: 400;">30,564</span></p>
            </td>
          </tr>
          <tr>
            <td style="width: 75px;">
              <p><span style="font-weight: 400;">패키지</span></p>
            </td>
            <td style="width: 96px;">
              <p><span style="font-weight: 400;">14,499</span></p>
            </td>
            <td style="width: 98px;">
              <p><span style="font-weight: 400;">18,441</span></p>
            </td>
            <td style="width: 102px;">
              <p><span style="font-weight: 400;">22,734</span></p>
            </td>
            <td style="width: 109px;">
              <p><span style="font-weight: 400;">24,274</span></p>
            </td>
            <td style="width: 107px;">
              <p><span style="font-weight: 400;">28,837</span></p>
            </td>
            <td style="width: 105px;">
              <p><span style="font-weight: 400;">37,256</span></p>
            </td>
          </tr>
          <tr>
            <td style="width: 75px;">
              <p><span style="font-weight: 400;">서비스,경험</span></p>
            </td>
            <td style="width: 96px;">
              <p><span style="font-weight: 400;">16,288</span></p>
            </td>
            <td style="width: 98px;">
              <p><span style="font-weight: 400;">19,615</span></p>
            </td>
            <td style="width: 102px;">
              <p><span style="font-weight: 400;">24,379</span></p>
            </td>
            <td style="width: 109px;">
              <p><span style="font-weight: 400;">27,731</span></p>
            </td>
            <td style="width: 107px;">
              <p><span style="font-weight: 400;">31,237</span></p>
            </td>
            <td style="width: 105px;">
              <p><span style="font-weight: 400;">35,717</span></p>
            </td>
          </tr>
          <tr>
            <td style="width: 75px;">
              <p><span style="font-weight: 400;">전체</span></p>
            </td>
            <td style="width: 96px;">
              <p><span style="font-weight: 400;">14,533</span></p>
            </td>
            <td style="width: 98px;">
              <p><span style="font-weight: 400;">18,330</span></p>
            </td>
            <td style="width: 102px;">
              <p><span style="font-weight: 400;">22,943</span></p>
            </td>
            <td style="width: 109px;">
              <p><span style="font-weight: 400;">25,495</span></p>
            </td>
            <td style="width: 107px;">
              <p><span style="font-weight: 400;">29,551</span></p>
            </td>
            <td style="width: 105px;">
              <p><span style="font-weight: 400;">32,917</span></p>
            </td>
          </tr>
        </tbody>
      </table>
      <p style="text-align: center;">&nbsp;</p>
      <p style="text-align: center;"><span style="font-weight: 400;">2019년 12월20일 산업통산자원부 고시의 ‘산업디자인개발의
          대가기준’&nbsp;</span><span style="font-weight: 400;">제11조(디자이너 노임단가의 적용기준)에 따른 것이다.</span></p>
      <p style="text-align: center;"><span style="font-weight: 400;">디자이너 노임단가는 기본급여, 제수당, 월상여금, 월퇴직급여충당금,
          월사회보험료(회사부담금)을 모두 포함한 결과이며, 상기 금액은 월임금을 평균근무일수(22일)로 나눈후 1일(8시간)로 나눈 </span><span
          style="font-weight: 400;">시간당 급여이다. </span></p>
      <p></p>
    </div>
    </p>
  </div>
  <div class="title ">
    <i class="dropdown icon"></i>
    What kinds of dogs are there?
  </div>
  <div class="content ">
    <p class="transition visible" style="display: block !important;">There are many breeds of dogs. Each breed varies in
      size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle
      and desires from a companion.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How do you acquire a dog?
  </div>
  <div class="content">
    <p class="transition hidden">Three common ways for a prospective owner to acquire a dog is from pet shops, private
      owners, or shelters.</p>
    <p class="transition hidden">A pet shop may be the most convenient way to buy a dog. Buying a dog from a private
      owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly,
      finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
  </div>
</div>

<script>
  $('.ui.accordion')
    .accordion()
    ;
</script>