<br>
Catagory ${forms}
<br><br>

<div class="fields">
      <div class="field">
        <label>Category 1</label>
        <select data-item="${forms}" class="ui search dropdown" name="category1">
          <option value="category1_A1">category1_A1</option>
          <option value="category1_A2">category1_A2</option>
        </select>
      </div>
      <div class="field">
        <label>Category 2</label>
        <select data-item="${forms}" class="ui search dropdown" name="category2">
          <option value="category2_A1">1.category2_A1</option>
          <option value="category2_A2">2.category2_A2</option>
          <option value="category2_A3">3.category2_A3</option>
          <option value="category2_A4">4.category2_A4</option>
        </select>
      </div>
      <div class="field" id="category3">
        <label>Category 3</label>
        <select data-item="${forms}" class="ui search dropdown" name="category3">
          <option value="category3_A1">1.category3_A1</option>
          <option value="category3_A2">2.category3_A2</option>
          <option value="category3_A3">3.category3_A3</option>
          <option value="category3_A4">4.category3_A4</option>
        </select>
      </div>
    </div>

    <div class="field">
      <input data-item="${forms}" type="text" placeholder="design_name" name="design_name">
    </div>

    <select data-item="${forms}" multiple="" class="ui fluid dropdown" name="skills">
      <option value="design_name1_A1">design_name1_A1</option>
      <option value="design_name1_A2">design_name1_A2</option>
      <option value="design_name1_A3">design_name1_A3</option>
      <option value="design_name1_A4">design_name1_A4</option>

    </select>
<br>