{{!< main}}

<form class="ui form" action="/design/add" method="POST" enctype="multipart/form-data">
  <h1>디자인 등록</h1>
  <br>
  <input type="file" placeholder="main image">
  <br>
  <br>
  카테고리
  <br><br>
<div class="fields">
  <div class="field">
    <label>카테고리 1</label>
    <select class="ui search dropdown">
      <option value="">디자인</option>
      <option value="AF">Afghanistan</option>
      <option value="AX">Åland Islands</option>
      <option value="AL">Albania</option>
      <option value="DZ">Algeria</option>
      <option value="GM">Gambia</option>
      <option value="GE">Georgia</option>
      <option value="DE">Germany</option>
      <option value="ZW">Zimbabwe</option>
    </select>
  </div>
    <div class="field">
    <label>카테고리 2</label>
    <select class="ui search dropdown">
      <option value="">Select Country</option>
      <option value="AF">Afghanistan</option>
      <option value="AX">Åland Islands</option>
      <option value="AL">Albania</option>
      <option value="DZ">Algeria</option>
      <option value="GM">Gambia</option>
      <option value="GE">Georgia</option>
      <option value="DE">Germany</option>
      <option value="ZW">Zimbabwe</option>
    </select>
  </div>
  
</div>
</form>

