{{!< main}}

<h1>Article home</h1>


<br>
<br>
<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Text</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each articles}}
    <tr>
      <td>{{dataValue.id}}</td>
      <td>{{title}}</td>
      <td>{{text}}</td>
      <td>{{moments}}</td>
    </tr>
    {{/each}}
    
  </tbody>
</table>

<a href="article/add">
  <div class="ui button blue">Add Article</div>
</a>
<br>
