{{!< main}}

{{#if err}}
<div class="ui error message">
  <i class="close icon"></i>
  <div class="header">
    Errors
  </div>
  <ul class="list">
    {{#each err}}
    <li>{{message}}</li>
    {{/each}}
  </ul>
</div>
{{/if}}

<form class="ui form" method="POST" action="/article/add" enctype="multipart/form-data">
  <div class="field">
    <label>Title</label>
    <input type="text" name="title" placeholder="Title">
    <br>
    <br>
    <label>Text</label>
    <textarea name="text" placeholder="Text">
  </textarea>
  </div>
  <div class="field">
    <label>File</label>
  </div>
    <input type="file" name="image">


  <br><br>
  <button class="ui button" type="submit">Submit</button>
</form>
