{{!< main}}

{{#if err}}
<div class="ui error message">
  <i class="close icon"></i>
  <div class="header">
    Errors
  </div>
  <ul class="list">
    {{#each err}}
    <li>{{message}}</li>
    {{/each}}
  </ul>
</div>
{{/if}}

<form class="ui form" method="POST" action="/article/add" enctype="multipart/form-data">
  <div class="field">
    <label>Title</label>
    <input type="text" name="title" placeholder="Title">
    <br>
    <br>
    <label>Text</label>
    <textarea name="text" placeholder="Text">
  </textarea>
  </div>
  <div class="field">
    <label>File</label>
  </div>
  <input id="imageInput" name="image" type="file" multiple>
  <img class="tiny" id="blah" src="#" alt="your image" />
  {{!-- <input type="file" name="image" value="noimage.jpg"> --}}


  <br><br>
  <button class="ui button" type="submit">Submit</button>
</form>

<div class="imgarea">
  
</div>

<script>
  function readURL(input) {


    if (input.files && input.files[0]) {

      let reader = new FileReader();

      for (key in input.files) {
        console.log(input.files[key])
      }




      reader.onload = function (e) {
        $('#blah').attr('src', e.target.result);
      }

      console.log('input.files[0]');
      console.log(input.files[0]);
      reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
  }

  $("#imageInput").change(function () {
    readURL(this);
  });
</script>