{{!< main}}

<a href="article/add">
  <div class="ui button blue">Add Article</div>
</a>
<br>
<br>
<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Text</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each articles}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{text}}</td>
      <td>{{moment}}</td>
    </tr>
    {{/each}}
    <tr>
      <td data-label="Name">James</td>
      <td data-label="Age">24</td>
      <td data-label="Job">Engineer</td>
    </tr>
    <tr>
      <td data-label="Name">Jill</td>
      <td data-label="Age">26</td>
      <td data-label="Job">Engineer</td>
    </tr>
    <tr>
      <td data-label="Name">Elyse</td>
      <td data-label="Age">24</td>
      <td data-label="Job">Designer</td>
    </tr>
  </tbody>
</table>
<br>
Article home