{{!< main}}

<div>
<br>
<h1>
  Hi {{user.username}}
</h1>
<form action="/auth/logout" method="DELETE">
  <button class="ui button" type="submit">로그아웃</button>
</form>



<br><br>
<a href="article/add">
  <div class="ui button blue">Add Article</div>
</a> 
<div class="ui button">button</div>
<br>
<br>
<div class="ui primary button">primary button</div>
<br>
<br>
<div class="ui secondary button">secondary button</div>
<br>
<br>
<div class="ui positive button">positive button</div>
<br>
<br>
<div class="ui negative button">negative button</div>
<br><br>
<div class="ui buttons">
  <button class="ui button">One</button>
  <button class="ui button">Two</button>
  <button class="ui button">Three</button>
  <button class="ui button">Four</button>
  <button class="ui button">Five</button>
</div>
<br><br>
<button class="ui icon button">
  <i class="cloud icon"></i>

</button>
</div>
