<br>

<div class="ui grid centered">
  <h2>
    Product Option
  </h2>
  <br>
</div>
<div class="ui grid centered">
  <h4>
    상품 옵션
  </h4>
  <br>
</div>

<div class="ui message red">
  *판매 상품과 직접 관련이 없는 옵션 입력 시 관리자에 의해 판매 금지될 수 있습니다.

</div>

<hr>
<h2>
  ${forms}
</h2>
<br><br>

<div class="fields">


  <div class="field">
    <label for="">옵션타입</label>
    <select data-item="${forms}" class="ui search dropdown" name="optiontype">
      <option value="single">단일선택방식</option>
      <option value="multiple">다중선택방식</option>
    </select>
  </div>

  <div class="field">
    <label for="">필수 옵션인가요?</label>
      <div class="ui checked huge checkbox">
    <input type="checkbox" checked="">
    <label></label>
  </div>
  </div>


</div>

<div class="ui red message">
  * 단일선택 방식 : 옵션선택항목들 중에 1가지만 선택할 수 있는 옵션타입입니다.
  <br>
  * 다중선택 방식 : 옵션선택항목들 중에 여러가지를 선택할 수 있는 옵션타입입니다.
  <br>
  * 카운트 방식 : 수량조절 및 수량변화에 따른 가격을 조절할 수 있는 옵션타입입니다.
</div>

<input data-item="${forms}" type="text" name="formNumber" value="${forms}" hidden>
<div class="fields">
  <div class="field">
    <label>Category 1</label>
    <select data-item="${forms}" class="ui search dropdown" name="category1">
      <option value="category1_A1">category1_A1</option>
      <option value="category1_A2">category1_A2</option>
    </select>
  </div>
  <div class="field">
    <label>Category 2</label>
    <select data-item="${forms}" class="ui search dropdown" name="category2">
      <option value="category2_A1">1.category2_A1</option>
      <option value="category2_A2">2.category2_A2</option>
      <option value="category2_A3">3.category2_A3</option>
      <option value="category2_A4">4.category2_A4</option>
    </select>
  </div>
  <div class="field" id="category3">
    <label>Category 3</label>
    <select data-item="${forms}" class="ui search dropdown" name="category3">
      <option value="category3_A1">1.category3_A1</option>
      <option value="category3_A2">2.category3_A2</option>
      <option value="category3_A3">3.category3_A3</option>
      <option value="category3_A4">4.category3_A4</option>
    </select>
  </div>
</div>

<div class="field">
  <input data-item="${forms}" type="text" placeholder="design_name" name="design_name">
</div>

<select data-item="${forms}" multiple="" id="skills" class="ui fluid dropdown" name="skills">
  <option value="a" disabled>인기결과물</option>
  <option value="JPG">JPG</option>
  <option value="PNG">PNG</option>
  <option value="b" disabled>기타</option>
  <option value="design_name1_A3">design_name1_A3</option>
  <option value="design_name1_A4">design_name1_A4</option>

</select>


<div class="field">
  <label for="">옵션명</label>
  <input type="text" name="optionname" id="">
</div>
<br>
<div class="field">
  <label for="">옵션명안내문</label>
  <input type="text" name="optiondescription" id="">
</div>
<br>

