  <div class="field" id="category3">
    <label>Category 3</label>
    <select data-main="0" class="ui search dropdown" id="category3" name="category3">
      <option value="category3_A1">1.category3_A1</option>
      <option value="category3_A2">2.category3_A2</option>
      <option value="category3_A3">3.category3_A3</option>
      <option value="category3_A4">4.category3_A4</option>
    </select>
  </div>